@model List<Izabella.Models.LiquidManure>

<h2>Havi riport</h2>

<table border="1">
<tr>
    <th>Dátum</th>
    <th>Összes</th>
    <th>Tehén</th>
    <th>6-9</th>
    <th>9-12</th>
    <th>12-vemhes</th>
    <th>Vemhes</th>
    <th>+ Biz</th>
    <th>- Biz</th>
</tr>

@foreach(var x in Model)
{
<tr>
    <td>@x.Date.ToString("yyyy.MM.dd")</td>
    <td>@x.TotalAmount</td>
    <td>@x.Cow</td>
    <td>@x.Young6_9</td>
    <td>@x.Young9_12</td>
    <td>@x.Young12Preg</td>
    <td>@x.PregnantHeifer</td>
    <td>@x.VoucherIn</td>
    <td>@x.VoucherOut</td>
</tr>
}
</table>