@model Izabella.Models.Cattle

@{
    ViewData["Title"] = "Delete";
}

<h1>Törlés</h1>

<h3>Valóban törölni akarja ezt az állatot?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EarTag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EarTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnarNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnarNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportSequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportSequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHerd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHerd.HerdCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTwin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTwin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAlive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAlive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamAgeAtCalving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamAgeAtCalving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @(Model.Gender == Gender.Bika ? "Bika" : "Üsző")
        </dd>
        <dt class="col-sm-2">
            Fajta
        </dt>
        <dd class="col-sm-10">
            @{
                string breedName = Model.BreedCode switch
                {
                    22 => "Holstein-fríz (22)",
                    1 => "Magyartarka (1)",
                    12 => "Jersey (12)",
                    13 => "Európai barna (13)",
                    19 => "Mokány (19)",
                    20 => "Erdélyi borzderes (20)",
                    33 => "Kárpáti borzderes (33)",
                    63 => "Montbeliarde (63)",
                    88 => "Brown Swiss (88)",
                    99 => "Egyéb tejhasznú (99)",
                    _ => $"Ismeretlen kód ({Model.BreedCode})"
                };
            }
            @breedName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherEnar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherEnar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherKlsz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherKlsz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Vissza az Aktív állományhoz</a>
    </form>
</div>
